﻿@keyframes blink{
  
  50%{opacity: .5;}
  100%{opacity: 1;}
  }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
    display: inline-block;
    float: left;
}

.container-fluid{
  padding: 0;
}



body {
  background-color: #f7f8f9;
  font-family: Poppins;
  line-height: 1.6;
}

ul{
   padding: 0;
 }

ul>li{
  list-style: none;
}


.m_banner, .mobilform , .mobile_view{
  display: none;
}

.web_banner{
  display: block;

}

.centerText{
  text-align: center;
}

.mleft4em{
  margin-left: 4.6em;
}

.mleft6em{
  margin-left: 6em;
}

.mtop35{
  margin-top: 35px;
}

.mright2em{
  margin-right: 2.6em;
}

.mtop70{
  margin-top: 70px;
}

.mtop10{
  margin-top: 10px;
}

.mtop15{
  margin-top: 15px;
}
.marginFourty{
  margin: 40px;
}

.rfloat{
  float: right;
}

.yellow{
  color: #EEFF00
}

.orange{
  color: #EE5410;
}

.gradient{
  background: transparent linear-gradient(180deg, #E1EDF5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}

hr{
  border-top: 1px solid #ccc;
}

.parapading{
  padding: 0 10em;
}
  /* common Css Ends here */


 /*notification CSS  */

 .notification-bar {
  background: #ff8084;  
  background: linear-gradient(to right,#268fbb 0,#a0cede 0,#149cd8 51%,#149dd7 71%,#dbeef8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8084', endColorstr='#ff79b5', GradientType=1 );
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 10px 0;
}

 .notification-bar p {
  margin: 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.notification-bar p strong {
  color: #f9f52f;
  animation: blink 2s linear infinite;
  font-weight: 400;
}

.notification-bar p .btn {
  font-size: .7em;
  padding: 4px 12px;
  margin-left: 8px;
  border-radius: 5px;
  background: #fff90c;
  color: red;
}



 /* notification css Ends Here */


/* banner */
.bg_banner{
  background-image: url("../images/bg_banner2.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}

.bannerText{
  color: #fff;
}

.bannerText .col-md-8{
  position: relative;
}
.bannerText .col-md-8 .wrapper{
    position: absolute;
    top: 65px;
    left: 36%;
}
.bannerText .col-md-8 .wrapper .h1{
  font: bold;
}

.bannerText .col-md-8 .wrapper .col-md-12{
  padding-left: 0;
}

.font24{
  font-size: 24px;
  padding-left: 0;
}

.claim{
    background: #044F90;
    padding: 10px 33px;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    font-size: 22px;
}

/* form CSS */

#feedbackForm {
  width: 300px;
  margin: -90px 100px 0 auto;
  background: #fff;
}

form .heading {
  background-color:#044F90;
  padding: 5px 4px;
  color: white;
  text-align: center;
}

.form_items {
  padding: 30px 25px;
}

#feedbackForm .button {
  border: 1px;
  background-color: white;
}
.secure_text {
  font-size: 12px;
  text-align: center;
  margin: 10px 0;
}
/*  */

section.about{
  background-image: url("../images/aboutbg.png");
 
  background-position: center;
  background-repeat: no-repeat;

}

.about .aboutSection{
  padding: 100px 0px;
}

.aboutSection h3, p{
  text-align: center;
}

.about2ndSection{  
    margin-top: 60px;
}

.about2ndSection .description{
  box-shadow: 0px 15px 30px #736f6f2b;
  padding: 23px;
  background-color: #fff;
}

.about2ndSection p, p{
  text-align: left;
}

.about2ndSection button{
    background: #F8B746;
    color: white;
    border: 1px;
    padding: 9px 13px;
    border-radius: 100px;
    margin-top: 1em;
}

.about2ndSection button:hover{
  background-color: #EE7710;
}

.hair_problems{
  margin-top: 100px;
}

.hair_problems > .col-md-3 img{
  padding: 0 35px;
}

.hair_problems > .col-md-3 h5{
  text-align: center;
  margin: 18px 0;
}

.problems > .description{
    margin: 40px 20px 0;
    text-align: left;
    padding: 0 50px;
}

.paddingZero{
  padding: 0px;
}





.science{
  margin-top: 100px;
}

.science2nd p{
  padding: 10px 20%;
}

.cycle{
  background-image: url("../images/science_bg.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0px;
  }
 
.cycle .wrapper{
  margin-left: 7em;
  width: 100%;
  margin-top: 10em;
}

.blue_gradient{
  background: transparent linear-gradient(101deg, #044F90 0%, #1CD9D9 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #fff;
  margin-top: 100px;
}
/* .blue_gradient .container{
  margin: 30px 0;
} */
.blue_gradient .wrapper{
    
    padding: 0 90px;
}

.blue_gradient .wrapper .col-md-4{
  margin-top: 18px;
}



.strengths{
  background-image: url("../images/Bottle.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 80px;
  margin: 75px 0;
  
}

.strengths h5{
  font:bold;
  letter-spacing: 0;
  color: #000000;
  font-weight: 800;
  margin: 10px 0;
}

.updates{
  background-image: url("../images/update_bg.png");
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  padding: 100px 167px;
}

.updates .col-md-8{
  background-image: url("../images/subscribe.png");
 
  background-position: left;
  background-repeat: no-repeat;
  padding: 70px 0;
 

}

.updates p{
  padding: 0 5em 0 0;

}

.updates form{
  position: relative;
  margin-top: 3em;
}

.updates form > .input-group{
  position: relative;
  right: 10%;
}

.updates form > .input-group > .form-control{
    width: auto;
    float: right;
    box-shadow: 0px 15px 30px #736f6f2b;
    margin-top: 3px;
    border: 0;
    height: 40px;
}

.input-group-btn  > .btn-default{
    background: #4A8FCB;
    color: white;
    border-radius: 5px;
    padding: 12px 10px;
}

footer p.statement{
  margin-top: 10em;
  padding: 0 100px;
}

footer .nav_links{
  text-align: center;
  margin: 20px 0;
}

footer .nav_links>a{
    color: #000;
    padding: 0;
}

footer{
  background-image: url("../images/tresemme_dubai2.png");
  background-repeat: no-repeat;
  background-position: center
}

.secondaryFooter{
  margin: 0 75px;
}

.secondaryFooter .col-md-3 h3{
    font-size: 18px;
    text-align: left;
    letter-spacing: 0;
    color: #000;
}

.secondaryFooter .col-md-3 a{
    color: #38312A;
     
}

/* Carousel CSS starts Here*/

  .carasouelContainer{
    background-color: #fff;
    padding-bottom: 50px;
  }
  .slick-prev {
    left: 50%;
    top: -40px;
  }

  .slick-next {
    right: 45%;
    top: 100%;
  }

  .slick-prev:before {
    content: '▲'
  }

  .slick-next:before{
    content: '▼'
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: #868584;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots{
    bottom: -10px;
    text-align: right;
  }
  .draggable{
    height: 270px !important;

  }
  .slick-slide{
    opacity: 0.3;
  }
  .slick-center{
    opacity: 1;
  }
  .slick-slide img{
    float: right;
  }

  .slick-dots li button:before{
    opacity: 0.15;
    font-size: 10px;
  }

  .slick-dots li.slick-active button:before{
    color: #38312A;
  }

  .sliderFor h4{
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    margin: 0px 15px;
  }

  .leftQuote .fa{
    color: #CDCBCA;
    font-size: 17px;
  }

  .rightQuote{
    float: right;
    margin-top: -15px;
  }

  .rightQuote .fa{
    color: #CDCBCA;
    font-size: 17px;
  }

  .stars .fa{
    color: #F8C72E;
    font-size: 12px;
  }

  .carasouelHead{
    text-align: center;
    margin-bottom: 70px;
  }

/* Carousel CSS End Here */



@media screen and (max-width: 600px) {

  h3{
    line-height: 1.3;
  }

  h4{
    line-height: 1.2;
  }

  h4 b{
    line-height: 1.5;
  }

  .pad0{
    padding: 0
  }  

  .margin0{
    margin: 0;
  }

  .mtop15{
    margin-top: 15px;
  } 

  .mtop30{
    margin-top: 30px;
  }
  .mtop20{
    margin-top: 20px;
  }
  .mobile_mtop70{
    margin-top: 70px;
  }

  .mleft15{
    margin-left: 15px;
  }

  .mleft4em, 
  .mleft6em, .mright2em{
    margin-left: 0;
  }

  .parapading{
    padding: 0;
  }


  
  .web_banner{
      display: none;
  }

  .m_banner{
    display: block;
    background-image: url("../images/bg-mob.jpg");
    height: 586px;
    background-repeat: no-repeat;
    background-position: center;
  } 
  .mobilform, .mobile_view{
    display: block;    
  }

  #feedbackForm {
    width: 280px;
    margin: 20px auto;
    background: #fff;
    border: 1px solid #ccc;
  }

  .about2ndSection .mleft{
    margin-left: 15%;
  }  

  .problems > .description{
      padding: 0;
  }

  .science2nd p {
    padding: 0;
  }

  .cycle .wrapper {
    margin-left: 0;
    width: 100%;
    margin-top:0;
  } 

  .cycle{
    background: none;
  }

  .cycle div.mtop{
    margin-top: 45px;
  }

  .blue_gradient .wrapper {
    padding: 0 ;
  }

  .strengths, .updates{
    background: none;
    padding: 0;
  }
  

  

  footer p.statement{
    padding: 0;
    text-align: left;
  }

  .secondaryFooter{
    margin: 0;
    
  }

  .strengths h5{
    margin: 30px 0px;
  }

  .updates .col-md-8 {
    background-image: url(../images/subscribe.png);
    background-position: left;
    background-repeat: no-repeat;
    padding: 70px 30px;
  }


  /* Carasouel Styles Starts Here */

  .carousel{
    display: none;
  }

  .mobile-user-info {
    border: 1px solid #ccc;
    margin: 15px;
    background: #ffffff;
    padding: 11px 13px;
    text-align: center;
    position: relative;
    display: inline-block;
  }

  .user_block {
    position: relative;
  }

  .user_name {
    margin-right: 11px;
    margin-top: 15px;
    position: relative;
    z-index: 1;  
  }
  .mobile-user_info h6 {
    
    font-size: 20px;
  }

   /* Carasouel Styles Ends Here */
  

  
 
}