.button, .bulk-actions select, .pagination a.number, form input.text-input, form textarea, form .wysiwyg, form select {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}
select {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}
.content-box, .content-box-header, ul.content-box-tabs li a.current, .shortcut-button, .notification {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}
.content-box-header {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}
.content-box-header-toggled {
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px
}
ul.content-box-tabs li a.current {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}
.shortcut-button span {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px
}
div.wysiwyg ul.panel li a {
	opacity: .6
}
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active {
	opacity: .99
}
