html {
	font-size: 100%;
	height: 100%;
	margin-bottom: 1px
}
body {
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: 'OpenSans', Arial, Helvetica, sans-serif;
	color: #555;
	background: #fff url("../images/bg-body.gif") top left repeat-y;
	font-size: 12px;
	overflow-x: hidden
}
#body-wrapper {
}
h1, h2, h3, h4, h5, h6 {
	color: #222
}
h1 {
	font-size: 31px;
	font-weight: 700;
	color: #fff;
	position: absolute;
	top: -1000px
}
h2 {
	font-size: 26px;
	padding: 0 0 10px
}
h3 {
	font-size: 17px;
	padding: 0 0 10px
}
h4 {
	font-size: 16px;
	padding: 0 0 5px
}
h5 {
	font-size: 14px;
	padding: 0 0 5px
}
h6 {
	font-size: 12px;
	padding: 0 0 5px
}
a {
	color: #0078cc;
	text-decoration: none
}
a:hover {
	color: #000
}
a:active {
	color: #777
}
a:focus {
	outline: 1px
}
strong {
	color: #135ca7
}
small {
	font-size: .85em
}
p {
	padding: 5px 0 10px;
	line-height: 1.6em
}
.clear {
	clear: both
}
.align-left {
	float: left
}
.align-right {
	float: right
}
.button {
	display: inline-block;
	padding: 5px 15px!important;
	color: #fff!important;
	font-size: 12px!important;
	font-family: inherit;
	cursor: pointer
}
.button:hover {
	text-decoration: underline
}
.button:active {
	padding: 5px 15px!important
}
a.remove-link {
	color: #b00
}
a.remove-link:hover {
	color: #000
}
#sidebar {
	width: 230px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	color: #888;
	font-size: 11px;
}
#sidebar #sidebar-wrapper {
	margin: 0 0 0 9px
}
#sidebar a, #sidebar a:active {
	color: #768294
}
#sidebar a:hover {
	color: #2381E9
}
#sidebar #sidebar-title {
	margin: 40px 0 40px 15px
}
#sidebar #logo {
	margin: 40px 0
}
#sidebar #profile-links {
	padding: 5px 0px 15px 0px;
	line-height: 1.5em
}
#sidebar #main-nav {
	width: 100%;
	padding: 0;
	margin: 0 0 0 0px
}
#sidebar #main-nav li {
	list-style: none;
	padding: 5px 10px 5px 0px;
	text-align: left
}
#sidebar #main-nav li a.nav-top-item {
	padding: 12px 0px 12px 18px;
	color: #FFF;
	font-size: 14px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	background-color: #2b7c7c;
	border-color: #096EB3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#sidebar #main-nav li a.current {
	background:#FFFFFF;
	color: #9CD159;
	font-weight: 600;
	border-bottom: 2px solid #9CD159;
}
#sidebar #main-nav li a.current:hover {
	color: #9CD159;
}
#sidebar #main-nav ul {
	padding: 0;
	font-size: 12px;
	margin: 0;
	background:#FFFFFF;
}
#sidebar #main-nav ul li {
	list-style: none;
	margin: 0;
	text-align: left;
	padding: 0
}
#sidebar #main-nav ul li a {
	padding: 8px 15px;
	display: block;
	color: #aaa;
	font-size: 13px;
	line-height: 1.2em
}
#sidebar #main-nav ul li a.current, #sidebar #main-nav ul li a.current:hover {
	color: #FF5757;
	background: #FFF;
	border-bottom: 2px solid #FF5757;
}
#sidebar #main-nav ul li a.current {
	background: transparent url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/menu-current-arrow.gif") right center no-repeat!important
}
#messages p, #messages form {
	border-top: 1px solid #ddd;
	padding: 10px 0
}
#messages h4 {
	padding: 10px 0
}
#messages fieldset {
	margin: 0
}
#messages textarea {
	margin: 0 0 15px
}
#main-content {
	margin: 0 30px 0 260px;
	padding: 15px 0 0
}
.column-left {
	width: 49%;
	float: left
}
.column-right {
	width: 49%;
	float: right
}
#page-intro {
	font-size: 15px;
	padding: 0 0 10px
}
#footer {
	margin: 40px 0 0;
	padding: 10px 0;
	font-size: 12px;
	text-align: center;
}
#main-content ul, #main-content ol {
	padding: 5px 0
}
#main-content ol {
	padding: 0 0 0 24px
}
#main-content ol li {
	list-style: decimal;
	padding: 4px 0
}
.content-box {
	margin: 10px 0 20px;
	background: #FFF;
	border: 1px solid #EFEFEF;
}
.content-box-header {
	background: #FAFAFA !important;
	height: 40px;
	border-top: 3px solid #65A6FF;
	font-weight: 600;
}
.content-box-header h3 {
	padding: 12px 15px 10px;
	float: left
}
ul.content-box-tabs {
	float: right;
	padding: 12px 15px 0 0!important;
	margin: 0!important
}
ul.content-box-tabs li {
	float: left;
	margin: 0;
	padding: 0!important;
	background-image: none!important
}
ul.content-box-tabs li a {
	color: #333;
	padding: 8px 10px;
	display: block;
	margin: 1px;
	border-bottom: 0
}
ul.content-box-tabs li a:hover {
	color: #0078cc
}
ul.content-box-tabs li a.current {
	background: #fff;
	border: 1px solid #EFEFEF;
	border-bottom: 0;
	margin: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.content-box-content {
	padding: 10px 20px 0px 20px;
	font-size: 13px;
	border-top: 1px solid #EFEFEF;
}
#main-content table {
	width: 100%;
	border-collapse: collapse
}
#main-content table thead th {
	color: #135ca7;
	font-size: 15px;
	border-bottom: 1px solid #135ca7
}
#main-content tbody {
	border-bottom: 1px solid #ddd
}
#main-content tbody tr {
	background: #fff
}
#main-content tbody tr.alt-row {
	background: #FDFDFD;
}
#main-content tbody tr:hover, #main-content tbody tr.alt-row:hover {
	background: #f1f1f1;
}
#main-content table td, #main-content table th {
	padding: 10px;
	line-height: 1.3em
}
.bulk-actions {
	padding: 15px 0 5px
}
select, input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
	padding: 4px;
	border: 1px solid #ccc;
	font-family:inherit;
}
#paging {
	float: right;
	width: auto;
	background: 0;
	padding: 0
}
#paging ul li.num_off a {
	margin: 0;
	padding: 5px 10px 6px;
	color: #fff;
	text-shadow: none
}
#paging ul li.num_off a:hover {
	color: #FFFFFF
}
.num_off {
	float: left;
	width: auto;
	padding: 4px 3px 4px 3px;
	list-style: none;
	margin: 2px;
	font-weight: 700;
	font-size: 11px;
	background-color: #87BBFC;
	border-color: #096EB3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.num_off:hover, .num_off:focus {
	border-color: #135CA7;
}
.num_on {
	float: left;
	list-style: none;
	color: #9E9E9E;
	border: 1px solid #D5D5D5;
	background:#FAFAFA;
	font-weight: 500;
	font-size: 11px;
	margin: 2px;
	padding: 3px 10px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	overflow: visible
}
.shortcut-button {
	border: 1px solid #ccc;
	background: #FFF;
	display: block;
	width: 105px;
	margin: 0 0 10px
}
.shortcut-button span {
	background-position: center 15px;
	background-repeat: no-repeat;
	border: 1px solid #fff;
	display: block;
	padding: 100px 13px 6px 10px;
	text-align: center;
	color: #555;
	font-size: 13px;
	line-height: 1.3em
}
.svaiza-t span {
	background-image: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/icons/svaiza-t.png")
}
.order-t span {
	background-image: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/icons/order-t.png")
}
.site-manager-t span {
	background-image: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/icons/site-manager-t.png")
}
.providers-t span {
	background-image: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/icons/provider-t.png")
}
.misc-ops-t span {
	background-image: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/icons/misc-ops-t.png")
}
.static-pages-t span {
	background-image: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/icons/static-page-t.png")
}
.accountant-t span {
	background-image: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/icons/accountant-t.png")
}
.admin-settings-t span {
	background-image: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/icons/admin-settings-t.png")
}
.shortcut-button:hover {
	background: #fff
}
.shortcut-button span:hover {
	color: #0078cc
}
ul.shortcut-buttons-set li {
	float: left;
	margin: 0 5px 0 0;
	padding: 0!important;
	background: 0
}
form label {
	display: block;
	padding: 0 0 10px
}
form fieldset legend {
	font-weight: 700;
	margin-bottom: 10px;
	padding-top: 10px
}
form p small {
	font-size: .75em;
	color: #777
}
form input.text-input, form select, form textarea, form .wysiwyg {
	font-family: inherit;
	padding: 6px;
	font-size: 13px;
	border: #CDCDCD solid 1px;
	box-shadow: inset 1px 1px 3px #F6F6F6;
	-moz-box-shadow: inset 1px 1px 3px #f6f6f6;
	-webkit-box-shadow: inset 1px 1px 3px #F6F6F6;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #333
}
form .small-input {
	width: 25%!important
}
form .medium-input {
	width: 50%!important
}
form .large-input {
	width: 97.5%!important;
	font-size: 16px!important;
	padding: 8px!important
}
form textarea {
	width: 97.5%!important
}
form select {
	padding: 4px;
	background: #fff
}
form input[type=checkbox], form input[type=radio] {
	padding: 0;
	background: 0;
	border: 0
}
.notification {
	position: relative;
	margin: 0 0 15px;
	padding: 0;
	background-position: 10px 11px!important;
	background-repeat: no-repeat!important;
	font-size: 13px;
	width: 99.8%
}
.attention {
	background: #FFEEC6;
	border-color: #EBC875;
	color: #624B0F;
}
.information {
	background: #C6E8FF;
	border-color: #62BAF6;
	color: #0F2C62;
}
.success {
	background: #D3FFC6;
	border-color: #7CD362;
	color: #1E620F;
}
.error {
	background: #FFC6C6;
	border-color: #DB6A6A;
	color: #620F0F;
}
.notification div {
	display: block;
	font-style: normal;
	padding: 10px 10px 10px 10px;
	line-height: 1.5em
}
.notification .close {
	color: #900;
	font-size: 9px;
	position: absolute;
	right: 15px;
	top: 17px;
}
.input-notification {
	background-position: left 2px;
	background-repeat: no-repeat;
	padding: 2px 0 2px 22px;
	background-color: transparent;
	margin: 0 0 0 5px
}
#login-wrapper #login-content .notification {
	animation: fadein 0.2s;
	-moz-animation: fadein 0.2s;
	-webkit-animation: fadein 0.2s;
	-o-animation: fadein 0.2s;
	border: 0;
	color: #fff!important
}
body#login {
	color: #fff;
	background: #222 url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/bg-login.gif")
}
#login-wrapper {
	background: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/bg-login-top.png") top left repeat-x
}
#login-wrapper #login-top {
	width: 100%;
	padding: 140px 0 50px;
	text-align: center
}
#login-wrapper #login-content {
	text-align: left;
	width: 400px;
	margin: 0 auto
}
#login-wrapper #login-content label {
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	float: left;
	width: 70px;
	padding: 0
}
#login-wrapper #login-content input {
	font-family: inherit;
	width: 200px;
	float: right;
	margin: 0 0 20px;
	border: 0
}
#login-wrapper #login-content p {
	padding: 0
}
#login-wrapper #login-content p#remember-password {
	float: right
}
#login-wrapper #login-content p#remember-password input {
	float: none;
	width: auto;
	border: 0;
	background: 0;
	margin: 0 10px 0 0
}
#login-wrapper #login-content p .button {
	width: auto;
	margin-top: 20px
}
#facebox .b {
	background: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/b.png")
}
#facebox .tl {
	background: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/tl.png")
}
#facebox .tr {
	background: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/tr.png")
}
#facebox .bl {
	background: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/bl.png")
}
#facebox .br {
	background: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/br.png")
}
#facebox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	text-align: left
}
#facebox .popup {
	position: relative
}
#facebox table {
	border-collapse: collapse
}
#facebox td {
	border-bottom: 0;
	padding: 0
}
#facebox .body {
	padding: 10px;
	background: #fff;
	width: 370px
}
#facebox .loading {
	text-align: center
}
#facebox .image {
	text-align: center
}
#facebox img {
	border: 0;
	margin: 0
}
#facebox .footer {
	border-top: 1px solid #DDD;
	padding-top: 5px;
	margin-top: 10px;
	text-align: right
}
#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
	height: 10px;
	width: 10px;
	overflow: hidden;
	padding: 0
}
#facebox_overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%
}
.facebox_hide {
	z-index: -100
}
.facebox_overlayBG {
	background-color: #000;
	z-index: 99
}
.grey_button {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image: -o-linear-gradient(top, #fff, #e6e6e6);
	background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
}
@font-face {
    font-family: 'OpenSans';
    src: url('font/OpenSans-Regular-webfont.eot');
    src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Regular-webfont.woff') format('woff'),
         url('font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.cache_list {
	font-size: 13px;
	font-family: inherit;
	line-height: 15px
}
.color_black {
	color: #000!important
}
.color_white {
	color: #FFF!important
}
.color_green {
	color: green!important
}
.color_red {
	color: red!important
}
.color_yellow {
	color: #ff0!important
}
.color_blue {
	color: #0078cc!important
}

.color_black_bg {
	cursor:pointer;
	border-top: 2px solid #070707;
	background: #C2C2C2;
	border:1px solid #C2C2C2;
	padding: 2px 4px 2px 4px;
	font-size: 11px;
}
.color_white_bg {
	cursor:pointer;
	border-top: 2px solid #D5D3D3;
	background: #F5F5F5;
	border:1px solid #F5F5F5;
	padding: 2px 4px 2px 4px;
	font-size: 11px;
}
.color_green_bg {
	cursor:pointer;
	color: #FFF;
	background: #9CD159;
	border:1px solid #9CD159;
	padding: 2px 7px 2px 7px;
	font-size: 11px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.color_red_bg {
	cursor:pointer;
	color: #FFF;
	background: #FF5757;
	border:1px solid #FF5757;
	padding: 2px 7px 2px 7px;
	font-size: 11px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.color_yellow_bg {
	cursor:pointer;
	background: #FC0;
	border:1px solid #FC0;
	padding: 2px 7px 2px 7px;
	font-size: 11px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.color_blue_bg {
	cursor:pointer;
	border-top: 2px solid #6C6CFF;
	background: #D7D2FA;
	border:1px solid #D7D2FA;
	padding: 2px 4px 2px 4px;
	font-size: 11px;
}
.information_div {
	background: #FFEEC6;
	border-color: #EBC875;
	color: #624B0F;
}
.info_bar {
	padding: 10px 0 0 10px
}
.prod_full_div {
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	margin: 0 0 0 0;
	padding: 0px
}
.prod_leftside {
	width: 50%
}
.prod_full_div .small-input {
	width: 80%!important
}
.border_bottom {
	color: #575653;
	font-size: 16px;
	border-bottom: 1px solid #EBC875;
}
.prod_box {
	margin: 10px 20px 0 0
}
.prod_title {
	padding: 10px 12px;
	background: #FAFAFA;
	font-size: 15px;
	line-height: 20px;
	color: #333;
	border-bottom: 2px solid #FC0;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.prod_desc {
	padding: 5px 0 5px 20px
}
.role_main {
	width: 100%;
	color: #666
}
.role_title {
	width: 20%;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: 600
}
.role_desc {
	width: 80%
}
.role_element {
	padding: 5px 0 10px;
	border-bottom: 1px solid #F7F7F7;
}
.role_element_size {
	width:25%;
	padding: 0px 0 8px;
	border-bottom: 1px solid #e9e9e9
}
.role_element:hover {
	background: #FAFAFA;
}
.chkbx {
	padding: 8px 8px 0 0
}
.chk_desc {
	padding: 10px 0 0
}
.inside_role {
	margin-left: 40px
}
.inside_role_element {
	padding: 5px 0 5px 5px
}
.role_border_bottom {
	border-bottom: 1px solid #aaa
}
.role_header {
	padding: 3px 0 3px 10px;
	width: 100%;
	color: #000;
	background-color: #EDF8FF;
}
.role_header_title {
	width: 20%;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: 600
}
.role_header_desc {
	width: 80%;
	padding: 10px 0
}
.role_body {
	width: 99.3%;
	border: 1px solid #FDFDFD;
	padding: 10px 0 0 15px
}
.cms_prod_image {
	-webkit-transition: background-color 1s ease;
	-moz-transition: background-color 1s ease;
	-o-transition: background-color 1s ease;
	transition: background-color 1s ease;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 189px;
	margin-left: 10px;
	border: 1px solid #ddd;
	padding: 4px;
}
#ajax_auto_suggestion {
	width: 375px;
	position: absolute;
	background: #fff;
	padding: 0px;
	display: none;
	margin: -15px 0 0 0;
	border: 1px solid #ddd
}
.suggested_entity {
	padding: 0;
}
.suggested_entity_error{
	padding:10px 0px 10px 10px;
}
.suggested_entity_link {
	cursor: pointer;
	padding:5px 3px 5px 10px;
}
.suggested_entity_link:hover {
	background: #2482DA;
	color: white !important;
}
.zebra_class{
	background: #F1F1F1;
}
.abosolute_msg {
	width: 104%;
	margin: -15px 0 15px -30px;
	position: static;
	color: #556652;
	padding: 13px 0 13px 20px;
	font-weight: 500;
	font-size: 14px;
}
.label_custom {
	background: #FBFFCE;
	padding: 10px 0px 10px 15px;
	border-top: 2px solid #DFD58F;
	color: #556652;
	margin: 0px 0px 15px 0px;
	font-weight: 600;
}
.small_button {
	display: inline-block;
	padding: 4px 6px!important;
	color: #fff!important;
	font-size: 11px!important;
	font-family: inherit;
	cursor: pointer;
	width: auto;
	background-color: #9CD159;
	border: 1px solid #9CD159;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.small_red_msg {
	color: white;
	background: #F0450C;
	border-top: 1px solid #630B0B;
	font-size: 11px;
	padding: 1px 3px 32px 3px
}
.white_bg {
	background: #FFEEC6;
	color: #624B0F;
	border-bottom: 1px solid #EBC875;
}
.green_bg {
	background: #d5ffce;
	border-bottom: 1px solid #9adf8f;
}
.blue_bg {
	background: #F7FCFD;
	border-bottom: 1px solid #A3DAFF;
	color: #271F1F;
}
.red_bg {
	background: #FC898E;
	border-bottom: 1px solid #FF0808;
	color: white;
}
.dark_red_bg {
	background: #BD1017;
	border-bottom: 1px solid #8F0000;
	color: white;
}
.text-input-login {
	webkit-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	padding: 20px 9px 20px 18px;
	margin: 0px;
	font-size: 16px
}
#login-wrapper #login-content .login-container-inner {
	border: 3px solid #D8D8D8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#login-wrapper #login-content .login-container-inner input {
	margin: 0px;
	width: 93%
}
.border-top {
	border-top: 3px solid #D8D8D8 !important;
}
.custom-submit {
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-ms-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
	padding: 12px 0px 12px 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 3px solid #87BBFC !important;
	background:#87BBFC;
	color:#FFFFFF !important;
	font-family: inherit;
	font-size: 14px;
	font-weight: 600;
	margin: 20px -4px 0px 0px !important;
	width: 102% !important;
}
.cat_brand {
	height: 200px;
	width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	border: 1px solid #b3b3b3;
	padding: 10px
}
.cat_brand_inr {
	padding: 3px 0px 3px 0px;
}
.delete_img {
	position: absolute;
	background: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/delete.png") no-repeat;
	height: 20px;
	width: 20px;
	margin: 0 0 0 -21px!important
}
.cms_prod_image:hover {
	background: #2a95df;
	background: linear-gradient(top, #79bef0 0, #79bef0 30%, #017fd6 90%);
	background: -webkit-linear-gradient(top, #79bef0 0, #79bef0 30%, #017fd6 90%);
	background: -webkit-gradient(linear, 0% 0, 0% 100%, color-stop(0, #79bef0), color-stop(0.3, #79bef0), color-stop(0.9, #017fd6));
	background: -moz-linear-gradient(top, #79bef0 0, #79bef0 30%, #017fd6 90%);
}
.default_product_image {
	background: #FCA73E;
	background: linear-gradient(top, #FCA73E 0, #FCA73E 30%, #f68902 90%);
	background: -webkit-linear-gradient(top, #FCA73E 0, #FCA73E 30%, #CC7304 90%);
	background: -webkit-gradient(linear, 0% 0, 0% 100%, color-stop(0, #FCA73E), color-stop(0.3, #FD8D02), color-stop(0.9, #CC7304));
	background: -moz-linear-gradient(top, #FCA73E 0, #FCA73E 30%, #CC7304 90%);
}
.image_change_load_bg {
	background: #fff;
	position: absolute;
	height: 198px;
	width: 151px;
	margin: 0px 0px 0px -151px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}
.loader_bg {
	background: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/preloader.gif") no-repeat;
	height: 20px;
	width: 20px;
	position: absolute;
	margin: 89px 65px 89px 65px;
}
.padding_left_10 {
	padding-left:10px;
}
.bg_blue {
	color: #35a2e7;
}
.bg_red {
	color: #F00;
}
.bg_yellow {
	color: #FF0;
}
.bg_green {
	color: #060;
}
.bg_black {
	color: #000;
}
.download-area{
	background: #FFF;
	padding: 0px 0px 20px 0px;
	border-bottom:2px solid #0078CC;
}
.detailed-statistics{
	width: 48%;
	margin: 0% -1% 4% 0%;
	font-size: 24px;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.detailed-statistics-full{
	width: 100%;
	margin: 0% -1% 4% 0%;
	font-size: 24px;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.small-stats{
	width:15% !important;
}
.grey{
	background: #FFF;
	border: 1px solid #EFEFEF;
}
.detailed-statistics-header{
	padding: 10px 0px 10px 0px;
	font-size: 14px;
	text-transform: uppercase;
	font-family: inherit;
	background: #FAFAFA;
	margin-top: 0px;
	color: #222;
}
.detailed-statistics-full .blue, .detailed-statistics .blue{
	border-top: 3px solid #65A6FF;
}
.detailed-statistics-full .yellow, .detailed-statistics .yellow{
	border-top: 3px solid #FC0;
}
.detailed-statistics-full .red, .detailed-statistics .red{
	border-top: 3px solid #FF5757;
}
.detailed-statistics-full .green, .detailed-statistics .green{
	border-top: 3px solid #9CD159;
}
.detailed-statistics-full .purple, .detailed-statistics .purple{
	border-top: 3px solid #9E96FF;
}
.detailed-statistics-full .azure, .detailed-statistics .azure{
	border-top: 3px solid #41E5C0;
}
.detailed-statistics-body{
	padding:25px 0px 25px 0px;
	font-size:50px;
}
.cps_categories{
	width:350px;
	height:400px;
	overflow:hidden;
	overflow-y:scroll;
	border: 1px solid #BBB;
	-moz-box-shadow:0px 1px 2px #CCC;
    -webkit-box-shadow:0px 1px 2px #CCC;
    box-shadow:0px 1px 2px #CCC;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.cps-cat-element{
	width:100%;
	border-bottom:1px solid #EBEBEB !important;
	padding:5px 0px 5px 0px;
}
.cps-cat-name{
	padding:10px 0px 0px 10px;
	text-transform:capitalize;
	width:100px;
}
.cps-cat-value{
	width:200px;
}
.cps-cat-value .medium-input{
	width:100% !important;
}
.cps_percentage{
	color: #000;
	width: 20px;
	height: 22px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin: 2px 0px 0px -17px;
	background: #FFD65E;
	background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFD65E), color-stop(100%,#FEBF04));
	background: -webkit-linear-gradient(top, #FFD65E 0%,#FEBF04 100%);
	background: -o-linear-gradient(top, #ffd65e 0%,#febf04 100%);
	background: -ms-linear-gradient(top, #ffd65e 0%,#febf04 100%);
	background: linear-gradient(to bottom, #FFD65E 0%,#FEBF04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
	padding: 9px 0px 0px 10px;
}
.scroll::-webkit-scrollbar {
	width:8px;
	background-color:rgba(167, 167, 167,0);
	-webkit-border-radius:100px
}
.scroll::-webkit-scrollbar:hover {
	background-color:rgba(0,0,0,.09)
}
.scroll::-webkit-scrollbar-thumb:vertical {
	background:rgba(0,0,0,.5);
	-webkit-border-radius:100px
}
.scroll::-webkit-scrollbar-thumb:vertical:active {
	background:rgba(0,0,0,.61);
	-webkit-border-radius:100px
}
.bottom-order-details {
	color: #556652;
	text-align: left !important;
	font-weight: 600;
}
.bottom-order-creditpoint {
	background: #FFD2CE !important;
	border-top: 2px solid #F00 !important;
}
.bottom-order-total {
	background: #FBFFCE !important;
	border-top: 2px solid #A0A024 !important;
}
.bottom-order-details td {
	font-weight: 600;
	text-align: right;
	padding: 10px 178px 10px 0px !important
}
.top-header{
	background:#484A50;
	padding:13px 20px 5px 20px;
}
.top-header-link{
	color:white !important;
}
.top-header .user-title{
	width:20%;
}
.top-header .user-role-details{
	width:60%;
	text-align:center;
	color:white !important;
}
.top-header .user-logout{
	width:20%;
	text-align:right;
}
.chart-area{
	width:50%;
}
.stats-area{
	width:48%;
	margin:10px 0px 0px 0px;
}
.detailed-link-box{
	padding:0px;
	font-size:11px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
.detailed-link-box .red{
	background: #FF5757;
	padding: 8px 0px 8px 0px;
	color: #FFF;
}
.detailed-link-box .green{
	background: #9CD159;
	padding: 8px 0px 8px 0px;
	color: #FFF;
}
.detailed-link-box .blue{
	background: #65A6FF;
	padding: 8px 0px 8px 0px;
	color: #FFF;
}
.detailed-link-box .azure{
	background: #41E5C0;
	padding: 8px 0px 8px 0px;
	color: #FFF;
}
.detailed-link-box .yellow{
	background: #FC0;
	padding: 8px 0px 8px 0px;
	color: #FFF;
}
.detailed-link-box .purple{
	background: #9E96FF;
	padding: 8px 0px 8px 0px;
	color: #FFF;
}
#product_chart, #order_chart{
	min-height:398px;
}
.quick_upd_btn{
	width:50px;
}
.quick_txt{
	padding: 5px !important;
	font-size: 13px;
	border: #CDCDCD solid 1px;
	box-shadow: inset 1px 1px 3px #F6F6F6;
	-moz-box-shadow: inset 1px 1px 3px #f6f6f6;
	-webkit-box-shadow: inset 1px 1px 3px #F6F6F6;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #333;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	width:60%;
	text-align:center;
}
.limited_updation{
	padding:0px !important;
	margin:0px !important;
	line-height:none !important;
	border-top:1px solid #C5C1C1;
}
.limited_updation .main_quick{
	border:1px solid #C5C1C1 !important;
	background:#F8F8F8 !important;
	width:50%;
	padding:5px;
	margin:-0.1% 0% 0% 25%;
}
.quick_goal{
	width:25%;
}
.quick_handle_type{
	width:35%;
}
.quick_pincode_type{
	width:25%;
}
.quick_refresh_btn {
	padding: 10px 10px 0px 10px !important;
}

.button_resolve {
	background:#F63 !important;
	border-color:#F63 !important;
}